In [2]:
import pandas as pd
import re

In [5]:
a2b = {1:1, 2:2, 3:3}

for k, v in a2b.items():
    print(v)

1
2
3

In [6]:
str1 = 'hello, world!'

li = list(tuple(str1))
li

['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [7]:
[[x+y for x in range(5)] for y in range(0, 5, 2)]

[[0, 1, 2, 3, 4], [2, 3, 4, 5, 6], [4, 5, 6, 7, 8]]

In [8]:
def is_iterable(x):
    try:
        iter(x)
    except:
        return False
    
    return True

In [11]:
is_iterable(8)

False

In [13]:
t1 = ()
type(t1)

tuple

In [15]:
names = ('Al', 'Bo', 'Cid', 'Dan', 'Ed', 'Fan')

rates = [ 37.75, 42.47, 61.0, 54.32, 38.83, 44.22 ]

n2r = dict(zip(names, rates))
n2r

{'Al': 37.75,
 'Bo': 42.47,
 'Cid': 61.0,
 'Dan': 54.32,
 'Ed': 38.83,
 'Fan': 44.22}

In [17]:
import numpy as np

a1 = np.array([4, 5, 6, 1, 2, 3, 9, 8, 7])

In [20]:
a1[3:6] -= 5

In [21]:
a1

array([ 4,  5,  6, -4, -3, -2,  9,  8,  7])

In [22]:
a2 = np.array([[ 1,  3,  2,  5,  7, 12],

           [  0,  1,  1,  0,  1,  7],

           [  4,  3,  2,  1,  0,  9]])

In [23]:
a2[:2,2:5]

array([[2, 5, 7],
       [1, 0, 1]])

In [24]:
df = pd.DataFrame({
    "Disease":["D{}".format(i) for i in range(1,9)],
    "Gene1":[0,0,0,24,0,0,0,4],
    "Gene2":[0,0,17,0,0,32,0,0],
    "Gene3":[25,0,0,0,0,0,0,0],
    "Gene4":[0,0,16,0,0,11,0,0]})

In [32]:
df == 0

   Disease  Gene1  Gene2  Gene3  Gene4
0    False   True   True  False   True
1    False   True   True   True   True
2    False   True  False   True  False
3    False  False   True   True   True
4    False   True   True   True   True
5    False   True  False   True  False
6    False   True   True   True   True
7    False  False   True   True   True

In [33]:
df.shape

(8, 5)

In [35]:
len(r'\t\n')

4

In [37]:
a2.ndim

2

In [38]:
s1 = df['Disease']
s1

0    D1
1    D2
2    D3
3    D4
4    D5
5    D6
6    D7
7    D8
Name: Disease, dtype: object

In [40]:
df.drop('Gene3')

KeyError: "['Gene3'] not found in axis"