In [14]:
data_1 = [['brian', 103, 103, 66, 'blah1', 'blah2'],
        ['brian', 227, 242, 267, 'blah1', 'blah2'],
        ['brian', 803, 750, 586, 'blah1', 'blah2'],
        ['brian', 160, 122, 93, 'blah1', 'blah2'],
        ['brian', 235, 184, 209, 'blah1', 'blah2'], 
        ['brian', 175, 147, 139, 'blah1', 'blah2'],
        ['brian', 874, 566, 1033, 'blah1', 'blah2'],
        ['brian', 265, 171, 143, 'blah1', 'blah2'],
        ['brian', 570, 418, 355, 'blah1', 'blah2'],
        ['brian', 203, 220, 187, 'blah1', 'blah2'],
        ['brian', 365, 337, 334, 'blah1', 'blah2'],
        ['brian', 1137, 957, 674, 'blah1', 'blah2'],
        ['brian', 1582, 1462, 1494, 'blah1', 'blah2'],
        ['brian', 73, 53, 47, 'blah1', 'blah2'],
        ['brian', 1256, 1572, 1506, 'blah1', 'blah2'],
        ['brian', 475, 458, 135, 'blah1', 'blah2'],
        ['brian', 64, 62, 41, 'blah1', 'blah2']
       ]

In [16]:
### Table 1 output (B-records) ###

column_width = 11
column_label_1 = ['Futures', 'Contract', 'Contract', 'Futures', 'Options', 'Options']
column_label_2 = ['Code', 'Month', 'Type', 'Exp Date', 'Code', 'Exp Date']
column_label_3 = ['-------', '--------', '--------', '--------', '-------', '--------']

# print header
for column_label in column_label_1:
    print(column_label.ljust(column_width), end='')
print()

for column_label in column_label_2:
    print(column_label.ljust(column_width), end='')
print()

for column_label in column_label_3:
    print(column_label.ljust(column_width), end='')
print()


# print data
for row in data_1:
    for value in row:
        print(str(value).ljust(column_width), end='')
    print()

Futures    Contract   Contract   Futures    Options    Options
Code       Month      Type       Exp Date   Code       Exp Date
-------    --------   --------   --------   -------    --------
brian      103        103        66         blah1      blah2
brian      227        242        267        blah1      blah2
brian      803        750        586        blah1      blah2
brian      160        122        93         blah1      blah2
brian      235        184        209        blah1      blah2
brian      175        147        139        blah1      blah2
brian      874        566        1033       blah1      blah2
brian      265        171        143        blah1      blah2
brian      570        418        355        blah1      blah2
brian      203        220        187        blah1      blah2
brian      365        337        334        blah1      blah2
brian      1137       957        674        blah1      blah2
brian      1582       1462       1494       blah1      blah2
brian      73         53         47         blah1      blah2
brian      1256       1572       1506       blah1      blah2
brian      475        458        135        blah1      blah2
brian      64         62         41         blah1      blah2

In [17]:
data_2 = [['brian', 103, 103, 66, 'blah1'],
        ['brian', 227, 242, 267, 'blah1'],
        ['brian', 803, 750, 586, 'blah1'],
        ['brian', 160, 122, 93, 'blah1'],
        ['brian', 235, 184, 209, 'blah1'], 
        ['brian', 175, 147, 139, 'blah1'],
        ['brian', 874, 566, 1033, 'blah1'],
        ['brian', 265, 171, 143, 'blah1'],
        ['brian', 570, 418, 355, 'blah1'],
        ['brian', 203, 220, 187, 'blah1'],
        ['brian', 365, 337, 334, 'blah1'],
        ['brian', 1137, 957, 674, 'blah1'],
        ['brian', 1582, 1462, 1494, 'blah1'],
        ['brian', 73, 53, 47, 'blah1'],
        ['brian', 1256, 1572, 1506, 'blah1'],
        ['brian', 475, 458, 135, 'blah1'],
        ['brian', 64, 62, 41, 'blah1']
       ]

In [18]:
### Table 2 output (81-records) ###
column_width = 11
column_label_1 = ['Futures', 'Contract', 'Contract', 'Strike', 'Settlement']
column_label_2 = ['Code', 'Month', 'Type', 'Price', 'Price']
column_label_3 = ['-------', '--------', '--------', '------', '----------']

# print header
for column_label in column_label_1:
    print(column_label.ljust(column_width), end='')
print()

for column_label in column_label_2:
    print(column_label.ljust(column_width), end='')
print()

for column_label in column_label_3:
    print(column_label.ljust(column_width), end='')
print()


# print data
for row in data_2:
    for value in row:
        print(str(value).ljust(column_width), end='')
    print()

Futures    Contract   Contract   Strike     Settlement
Code       Month      Type       Price      Price
-------    --------   --------   ------     ----------
brian      103        103        66         blah1
brian      227        242        267        blah1
brian      803        750        586        blah1
brian      160        122        93         blah1
brian      235        184        209        blah1
brian      175        147        139        blah1
brian      874        566        1033       blah1
brian      265        171        143        blah1
brian      570        418        355        blah1
brian      203        220        187        blah1
brian      365        337        334        blah1
brian      1137       957        674        blah1
brian      1582       1462       1494       blah1
brian      73         53         47         blah1
brian      1256       1572       1506       blah1
brian      475        458        135        blah1
brian      64         62         41         blah1