## Section 2.3 ##
### Language Semantics ###
#### Variables etc. ####

In [38]:
a = [1,2,3]
a?

In [19]:
b = a
b

[1, 2, 3]

In [20]:
a.append(4)
a

[1, 2, 3, 4]

In [21]:
b

[1, 2, 3, 4]

In [23]:
def append_element(some_list, element):
    some_list.append(element)
    
data = [1,2,3]

In [24]:
append_element(data, 4)

In [25]:
data

[1, 2, 3, 4]

In [26]:
a = 5
type(a)

int

In [27]:
a = 'foo'
type(a)

str

In [28]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [29]:
'5' * 5

'55555'

In [30]:
a = 4.5

In [31]:
b = 2

In [32]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [33]:
a / b

2.25

In [34]:
a = 5

In [35]:
isinstance(a, int)

True

In [40]:
a = 5; b = 4.5

In [41]:
isinstance(a, (int, float))

True

In [42]:
isinstance(b, (int, float))

True

In [43]:
a = 'foo'

In [46]:
getattr(a, 'split')

In [47]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [48]:
isiterable('a string')

True

In [49]:
isiterable([1,2,3])

True

In [50]:
isiterable(5)

False

In [52]:
isiterable({1: 'happy', 2: 'birthday'})

True

In [53]:
5-7

-2

In [54]:
12 + 21.5

33.5

In [55]:
5 <= 2

False

In [1]:
2**10

1024

In [2]:
a = [1,2,3]

In [3]:
b = a

In [4]:
c = list(a)

In [5]:
a is b

True

In [6]:
a is not c

True

In [7]:
a == c

True

In [9]:
a != b

False

In [10]:
a = None

In [11]:
a is None

True

In [14]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [15]:
a_list[2:4]

[(3, 4)]

In [16]:
a_list[1]

2

In [17]:
a_tuple = (3,5,(4,5))

In [18]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [19]:
'tree'[2]

'e'

In [20]:
'tree'[2] = 'i'

TypeError: 'str' object does not support item assignment

### Scalar Types ###

In [21]:
ival = 12345678987654

In [22]:
ival ** 6

3540706118983123694154556672307171157595851464154316750062527235268004331525696

In [23]:
fval = 7.234

In [24]:
fval2 = 6.78e-5

In [25]:
3/2

1.5

In [26]:
3//2

1

In [27]:
a = 'one string'

In [28]:
b = "two string"

In [32]:
c = """
three
string
"""
c

'\nthree\nstring\n'

In [33]:
c.count('\n')

3

In [34]:
a[5] = 'f'

TypeError: 'str' object does not support item assignment

In [36]:
b = a.replace('string', 'longer string')
b

'one longer string'

In [37]:
a

'one string'

In [38]:
a = 5.6
s = str(a)

In [39]:
print(s)

5.6

In [40]:
s = 'python'

In [41]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [42]:
s[:3]

'pyt'

In [43]:
s[::]

'python'

In [44]:
s[2:]

'thon'

In [45]:
s[1:4]

'yth'

In [47]:
s = '12\\34'
print(s)

12\34

In [48]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [49]:
print(s)

this\has\no\special\characters

In [52]:
a = 'first half '
b = 'second half'

In [53]:
a + b

'first halfsecond half'

In [54]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [55]:
template.format(4.556, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [56]:
template

'{0:.2f} {1:s} are worth US${2:d}'

In [57]:
val = "español"
val

'español'

In [64]:
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [66]:
type(val_utf8)

bytes

In [67]:
val_utf8.decode('utf-8')

'español'

In [69]:
val.encode('latin1')

b'espa\xf1ol'

In [71]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [72]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [73]:
bytes_val = b'this is bytes'
bytes_val

b'this is bytes'

In [74]:
decoded = bytes_val.decode('utf8')
decoded

'this is bytes'

In [75]:
True and True

True

In [76]:
False or True

True

In [78]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [79]:
int(fval)

3

In [80]:
bool(fval)

True

In [81]:
bool(0)

False

In [83]:
a = None
a is None

True

In [85]:
b = 5
b is not None

True

In [86]:
type(None)

NoneType

In [87]:
from datetime import datetime, date, time

In [88]:
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [89]:
dt.minute

30

In [90]:
dt.date()

datetime.date(2011, 10, 29)

In [93]:
dt.time()

datetime.time(20, 30, 21)

In [94]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [95]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [96]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [98]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt

In [99]:
delta

datetime.timedelta(days=17, seconds=7179)

In [100]:
type(delta)

datetime.timedelta

In [101]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [102]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow ###

In [104]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [106]:
4 > 3 > 2 > 1

False

In [107]:
4 > 3 > 2 > 1 > 5

False

In [109]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [111]:
li = []
for i in range(4):
    for j in range(4):
        if j > i:
            break
        li.append((i,j))
        
li

[(0, 0),
 (1, 0),
 (1, 1),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [114]:
for a, b in li:
    print(a,b)
    print("hooray!")

0 0
hooray!
1 0
hooray!
1 1
hooray!
2 0
hooray!
2 1
hooray!
2 2
hooray!
3 0
hooray!
3 1
hooray!
3 2
hooray!
3 3
hooray!

In [115]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [116]:
range(10)

range(0, 10)

In [117]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [119]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [121]:
seq = [1,2,3,4]
for i in range(len(seq)):
    print(seq[i])

1
2
3
4

In [122]:
sum = 0
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i

In [123]:
sum

2333316668

In [124]:
x = 5

In [125]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

## Section 3.1 ##
### Tuples ###

In [126]:
tup = 4,5,6
tup

(4, 5, 6)

In [128]:
nested = (4,5,6),(7,8)
nested

((4, 5, 6), (7, 8))

In [129]:
tuple([4,0,2])

(4, 0, 2)

In [131]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [132]:
tup[0]

's'

In [139]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [140]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [141]:
tup[0][1]

'o'

In [142]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [143]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [144]:
tup = (4,5,6)

In [146]:
a,b,c = tup
b

5

In [147]:
tup = 4,5, (6,7)
a,b,(c,d) = tup

In [148]:
d

7

In [149]:
a,b = 1,2

In [150]:
a

1

In [151]:
b

2

In [154]:
b,a = a,b
a

2

In [155]:
b

1

In [156]:
a,b,c = 1,2,3
a,b,c = b,c,a

In [157]:
a

2

In [158]:
b

3

In [159]:
c

1

In [161]:
a = 5
a

5

In [162]:
b

3

In [163]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [164]:
values = 1,2,3,4,5
a,b, *rest = values

In [165]:
a, b

(1, 2)

In [166]:
rest

[3, 4, 5]

In [167]:
a = (1,2,2,2,3,4,2)
a.count(2)

4

### List ###